:root {
  --navbar-bg-color: lightGray;
  --navbar-text-color: #555;
  --navbar-text-hover-color: #f9f9f9;
  --search-area: lightskyblue;
  --search-input-background: white;
}

.site-body{
  display: flex;
}

.site-main-body{
  width: 100%;
}

